* {
    padding: 0; margin: 0;
}
.img-optimization {
    width: 100vw; height: 100vh;
    /*background: indianred;*/
}

.img-optimization footer {
    width: 90vw; height: 10vh;
    /*background: cornflowerblue;*/
    border: 1px dashed darkgray;
    color: darkgray;
    border-radius: 1vh;
    margin: 5vh;
}

.img-optimization input {
    background: transparent;
    border: 0;
    outline: none;
    width: 4vh;
}

.img-optimization label {
    width: 10vh;
}

.img-optimization figure {
    width: 100%; height: 100%;
    min-width: 10vh; min-height: 10vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.img-optimization figure picture {
    width: 100%;
    height: auto;
}
