<!DOCTYPE html>
<html>
<head>
    <title>Alexander Malyk :: Page Not Found</title>
    <style>
        html,body {
            width: 100%; height: 100%;
            padding: 0; margin: 0;
        }
        body {
            background-color: black;
            background-image: url("http://www.gstatic.com/tv/thumb/tvbanners/185013/p185013_b_v8_af.jpg");
            background-position: center;
            background-clip: content-box;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>
</head>
<body></body>
</html>