<!DOCTYPE html>
<html>
<head>
    <title>Alexander Malyk</title>
    <link rel="stylesheet" href="/public/flex-layout-attribute.css">
    <link rel="stylesheet" href="/public/hover-min.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<header layout="rows top-center">
    <h1>Techy-techy</h1>
    <figure>
        <picture>
            <source srcset="/public/avatar.png">
            <img src="/public/avatar.png" alt="avatar">
        </picture>
    </figure>
    <nav>
        <ul layout="rows center-top">
            <li class="current-page"><a class="hvr-rectangle-out" href="/">Blog</a></li>
            <li><a class="hvr-rectangle-out" href="/tools/image-optimiser">Tools</a></li>
            <li><a class="hvr-rectangle-out" href="/about">About</a></li>
        </ul>
    </nav>
</header>
</body>
</html>